<dom-module id="adornis">
    <template>
        <style>
            @print {* {-webkit-print-color-adjust: exact;}}
            * {font-size: 13px}
            h1 {font-size: 1.2em}
            [invis] {opacity: 0;}
            [equal],
            [times],
            [divided] {position: relative}
            [equal]::before,
            [times]::before,
            [divided]::before {
                position: absolute;
                left: 0;
                top: auto;
                bottom: auto;
                color: #888;
            }
            [equal]::before {content: "="}
            [times]::before {content: "×"}
            [divided]::before {content: ":"}
            [numeric] {font-family: monospace; text-align: right; vertical-align: bottom;}
            [unit] {color: #888; padding-left: 0; vertical-align: baseline;}
        </style>
    </template>
</dom-module>
<dom-module id="adornis-tables">
  <template>
    <style>
        table {border-color: #888; border-spacing: 0; width: 100%}
        table td {padding: 5px 10px; font-family: Arial, sans-serif}
        table td[final] {font-weight: bold}
        table th {text-align: left}
        table thead {font-weight: bold; }
        table tfoot tr td:last-of-type {border-top: 1px solid #888}
    </style>
  </template>
</dom-module>
