<dom-module id="adornis-nebenkosten-aufstellung">
    <template>
        <style is="custom-style" include="iron-flex iron-flex-alignment adornis adornis-tables"></style>
        <style>
        </style>

        <h1>{{mieter.name}}</h1>
        <table>
            <thead>
                <tr><th></th><th>Preis pro Einheit</th><th></th><th>Einheiten</th><th></th><th>Zeitanteil</th></tr>
            </thead>
            <thead>
                <tr><th>Heizkosten</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>Grundkosten</td>
                    <td numeric>{{_(heizkostenProM2, 4)}}</td><td unit>&euro;/m<sup>2</sup></td>
                    <td numeric times>{{_(mieter.qm, 2)}}</td><td unit>m<sup>2</sup></td>
                    <td numeric times invis$="{{_hideOne(mieter.zeitanteil)}}">{{_(mieter.zeitanteil, 4)}}</td>
                    <td numeric equal>{{_(grundHeizKostenMieter, 2, "&euro;")}}</td>
                </tr>
                <tr>
                    <td>Verbrauchskosten</td>
                    <td numeric>{{_(heizkostenProEinheit, 4)}}</td><td unit>&euro;/E</td>
                    <td numeric times>{{mieter.heizeinheiten}}</td><td></td><td></td>
                    <td numeric equal>{{_(verbrauchsHeizKostenMieter, 2, "&euro;")}}</td>
                </tr>
            </tbody>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td><td numeric final>{{_(heizkosten, 2, "&euro;")}}</td></tr>
            <thead>
                <tr><th>Warmwasserkosten</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>Grundkosten</td>
                    <td numeric>{{_(warmwasserkostenProM2, 4)}}</td><td unit>&euro;/m<sup>2</sup></td>
                    <td numeric times>{{_(mieter.qm, 2)}}</td><td unit>m<sup>2</sup></td>
                    <td numeric times invis$="{{_hideOne(mieter.zeitanteil)}}">{{_(mieter.zeitanteil, 4)}}</td>
                    <td numeric equal>{{_(grundWarmwasserKostenAnteilig, 2, "&euro;")}}</td>
                </tr>
                <tr>
                    <td>Verbrauchskosten</td>
                    <td numeric>{{_(warmwasserkostenProM3, 4)}}</td><td unit>&euro;/m<sup>3</sup></td>
                    <td numeric times>{{_(mieter.warmwasserm3, 2)}}</td><td unit>m<sup>3</sup></td><td></td>
                    <td numeric equal>{{_(verbrauchsWarmwasserKostenMieter, 2, "&euro;")}}</td>
                </tr>
            </tbody>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td><td numeric final>{{_(warmwasserkosten, 2, "&euro;")}}</td></tr>
            <thead>
                <tr><th>Kaltwasserkosten</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>Verbrauchskosten</td>
                    <td numeric>{{_(kaltwasserkostenProM3, 4)}}</td><td unit>&euro;/m<sup>3</sup></td>
                    <td numeric times>{{_(mieter.kaltwasserm3, 2)}}</td><td unit>m<sup>3</sup></td><td></td>
                    <td numeric equal>{{_(verbrauchsKaltwasserKostenMieter, 2, "&euro;")}}</td>
                </tr>
            </tbody>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td><td numeric final>{{_(kaltwasserkosten, 2, "&euro;")}}</td></tr>
            <tfoot>
                <tr><td></td><td></td><td></td><td></td><td></td><td></td><td numeric final>{{_(kosten, 2, "&euro;")}}</td></tr>
            </tfoot>
        </table>

    </template>
</dom-module>

<script>

class AdornisNebenkostenAufstellung extends AdornisPolymerRedux(Polymer.Element) {
    static get is() {
        return 'adornis-nebenkosten-aufstellung';
    }
    static get properties() {
        return {
            // TODO auch global machen
            // grundkosten vs verbrauchskosten ratio
            grundkostenRatioHeizung: { type: Number, value: 0.3 },
            verbrauchskostenRatioHeizung: { type: Number, computed: '_sub(1, grundkostenRatioHeizung)' },
            grundkostenRatioWarmwasser: { type: Number, value: 0.3 },
            verbrauchskostenRatioWarmwasser: { type: Number, computed: '_sub(1, grundkostenRatioWarmwasser)' },

            // TODO ab hier sollte global
            heizeinheiten: { type: Number, statePath: 'heizeinheiten' },
            quadratmeterHeizflaeche: { type: Number, statePath: 'quadratmeterHeizflaeche' },
            warmwasserVerbrauch: { type: Number, statePath: 'warmwasserVerbrauch' },
            kaltwasserVerbrauchInklAllgemein: { type: Number, statePath: 'kaltwasserVerbrauchInklAllgemein' },
            gesamtHeizKosten: { type: Number, statePath: 'gesamtHeizKosten' },
            gesamtWarmwasserKosten: { type: Number, statePath: 'gesamtWarmwasserKosten' },
            gesamtKaltwasserKosten: { type: Number, statePath: 'gesamtKaltwasserKosten' },

            grundHeizKosten: { type: Number, computed: '_mul(gesamtHeizKosten, grundkostenRatioHeizung)' },
            verbrauchsHeizKosten: { type: Number, computed: '_mul(gesamtHeizKosten, verbrauchskostenRatioHeizung)' },
            grundWarmwasserKosten: { type: Number, computed: '_mul(gesamtWarmwasserKosten, grundkostenRatioWarmwasser)' },
            verbrauchsWarmwasserKosten: { type: Number, computed: '_mul(gesamtWarmwasserKosten, verbrauchskostenRatioWarmwasser)' },
            // TODO bis hier sollte global

            heizkostenProM2: { type: Number, computed: '_div(grundHeizKosten, quadratmeterHeizflaeche)' },
            heizkostenProEinheit: { type: Number, computed: '_div(verbrauchsHeizKosten, heizeinheiten)' },
            warmwasserkostenProM2: { type: Number, computed: '_div(grundWarmwasserKosten, quadratmeterHeizflaeche)' },
            warmwasserkostenProM3: { type: Number, computed: '_div(verbrauchsWarmwasserKosten, warmwasserVerbrauch)' },
            kaltwasserkostenProM3: { type: Number, computed: '_div(gesamtKaltwasserKosten, kaltwasserVerbrauchInklAllgemein)' },
            // TODO bis hier sollte global

            grundHeizkostenProJahr: { type: Number, computed: '_mul(heizkostenProM2, mieter.qm)' },
            grundHeizKostenMieter: { type: Number, computed: '_mul(grundHeizkostenProJahr, mieter.zeitanteil)' },
            verbrauchsHeizKostenMieter: { type: Number, computed: '_mul(heizkostenProEinheit, mieter.heizeinheiten)' },
            grundWarmwasserkostenProJahr: { type: Number, computed: '_mul(warmwasserkostenProM2, mieter.qm)' },
            grundWarmwasserKostenAnteilig: { type: Number, computed: '_mul(grundWarmwasserkostenProJahr, mieter.zeitanteil)' },
            verbrauchsWarmwasserKostenMieter: { type: Number, computed: '_mul(warmwasserkostenProM3, mieter.warmwasserm3)' },
            verbrauchsKaltwasserKostenMieter: { type: Number, computed: '_mul(kaltwasserkostenProM3, mieter.kaltwasserm3)' },

            // endwerte
            heizkosten: { type: Number, computed: '_sum(grundHeizKostenMieter, verbrauchsHeizKostenMieter)' },
            warmwasserkosten: { type: Number, computed: '_sum(grundWarmwasserKostenAnteilig, verbrauchsWarmwasserKostenMieter)' },
            kaltwasserkosten: { type: Number, computed: '_sum(verbrauchsKaltwasserKostenMieter)' },

            // finito
            kosten: { type: Number, computed: '_sum(heizkosten, warmwasserkosten, kaltwasserkosten)' },

            mieterId: { type: String, value: '' },
            mieter: { type: Object, computed: '_getMieter(mieterId, _mieterListe)' }, // quadratmeterHeizflaeche als Platzhalter, dass der redux state observed wird (sonst funktioniert der gesamtreport nicht, der keine MieterID bekommt)

            _mieterListe: {
                type: Array,
                collection: 'mieterdaten',
                statePath: 'mieterdaten',
            },
        };
    }

    _getMieter(mieterID) {
        if (mieterID === '') {
            return {
                name: 'Verteilung der Kosten',
                qm: this.quadratmeterHeizflaeche,
                heizeinheiten: this.heizeinheiten,
                warmwasserm3: this.warmwasserVerbrauch,
                kaltwasserm3: this.kaltwasserVerbrauchInklAllgemein,
                zeitanteil: 1,
            };
        }
        if (!this._mieterListe) return {};
        return this._mieterListe.find(m => m._id === `${mieterID}`);
    }

    _hideOne(number) {
        return +number === 1;
    }
}

window.customElements.define(AdornisNebenkostenAufstellung.is, AdornisNebenkostenAufstellung);
</script>
