<dom-module id="adornis-finance">
    <template>
        <style>
            table {border-spacing: 0}
            tr[final] td {background-color: #aaa}
        </style>
        <div class="layout vertical">
            <table>
                <tr><td>Input</td><td><paper-input value="{{input}}" label="Rechnung"></paper-input></td></tr>
                <tr final><td>Nach USt</td><td>{{_(withoutUSt, 2, "Eur")}}</td></tr>
                <!-- <template is="dom-repeat" items="{{spendingsDetail}}">
                    <tr>
                        <td><paper-input value="{{item.value}}"></paper-input></td>
                        <td><paper-button on-tap="_changeType">{{item.type}}</paper-button></td>
                        <td><paper-input value="{{item.usage}}"></paper-input></td>
                        <td><paper-button on-tap="_removeItem">-</paper-button></td>
                    </tr>
                </template> -->

                <mongo-repeat collection="spendings" debounce-interval="100" items="{{spendingsDetail}}">
                    <template>
                        <tr>
                            <td><paper-input value="{{item.value}}"></paper-input></td>
                            <td><paper-button on-tap="_changeType">{{item.type}}</paper-button></td>
                            <td><paper-input value="{{item.usage}}"></paper-input></td>
                            <td><paper-button slot="remove">-</paper-button></td>
                        </tr>
                    </template>
                </mongo-repeat>
                <tr><td>insg Ausgaben</td><td>{{_(spendings, 2, "Eur")}}</paper-input><paper-button on-tap="_addSpending">+</paper-button></td></tr>
                <tr final><td>Nach Ausgaben</td><td>{{_(withoutSpendings, 2, "Eur")}}</td></tr>
                <tr final><td>Nach KoeSt und GewSt</td><td>{{_(withoutTaxes, 2, "Eur")}}</td></tr>
                <tr final><td>Ohne Rücklage</td><td>{{_(withoutRuecklage, 2, "Eur")}}</td></tr>
            </table>
        </div>

    </template>
</dom-module>

<script>

const EUR = 'Eur';
const PERC = '%';

class AdornisFinance extends AdornisPolymerRedux(Polymer.Element) {
    static get is() {
        return 'adornis-finance';
    }
    static get properties() {
        return {
            // constants
            afterTaxes: { type: Number, value: (1 - (0.123 + 0.15825)) },
            // finance fields
            input: { type: Number, value: 100 },
            withoutUSt: { type: Number, computed: '_div(input,1.19)' },
            spendingsDetail: Array,
            spendings: { type: Number, computed: '_sumSpendings(withoutUSt, spendingsDetail.*)' },
            withoutSpendings: { type: Number, computed: '_sub(withoutUSt, spendings)' },
            withoutTaxes: { type: Number, computed: '_mul(withoutSpendings, afterTaxes)' },
            withoutRuecklage: { type: Number, computed: '_mul(withoutTaxes, 0.75)' },
        };
    }

    _changeType(e) { // eslint-disable-line class-methods-use-this
        e.model.set('item.type', (e.model.item.type === EUR ? PERC : EUR));
    }

    _addSpending() {
        this.push('spendingsDetail', { value: 0, type: EUR });
    }

    _sumSpendings(withoutUSt, spendingsDiff) { // eslint-disable-line class-methods-use-this
        const arr = spendingsDiff.base;
        if (!arr) return 0;
        return arr.reduce((sum, curr) => {
            if (curr.type === EUR) {
                return sum + +curr.value;
            } else if (curr.type === PERC) {
                return sum + (withoutUSt * (+curr.value / 100));
            }
            return 0;
        }, 0);
    }
}

window.customElements.define(AdornisFinance.is, AdornisFinance);
</script>
