<dom-module id="adornis-nebenkosten">
    <template>
        <style is="custom-style" include="iron-flex iron-flex-alignment adornis adornis-tables"></style>
        <style>
        </style>
        <div class="layout horizontal">
            <div class="layout vertical" style="padding: calc(.5em + 6px)">
                <div numeric style="padding: 6px">heizBetriebsKosten: {{_(heizBetriebsKosten, 2, "Eur")}}</div>
                <div numeric style="padding: 6px">Wasserkosten: {{_(kaltwasserKosten, 2, "Eur")}}</div>
            </div>
            <table style="width: auto">
                <tr><td numeric>+ Miete: {{_(m_heizkostenZaehler, 2, "Eur")}} = </td><td numeric>Heizkosten: {{_(gesamtHeizKosten, 2, "Eur")}}</td></tr>
                <tr><td numeric>+ Miete: {{_(m_warmwasserZaehler, 2, "Eur")}} = </td><td numeric>Warmwasserkosten: {{_(gesamtWarmwasserkosten, 2, "Eur")}}</td></tr>
                <tr><td numeric>+ Miete: {{_(m_kaltwasserZaehler, 2, "Eur")}} = </td><td numeric>Kaltwasserkosten: {{_(gesamtKaltwasserKosten, 2, "Eur")}}</td></tr>
            </table>
        </div>

        <table>

        </table>

    </template>
</dom-module>

<script>

class AdornisNebenkosten extends AdornisPolymerRedux(Polymer.Element) {
    static get is() {
        return 'adornis-nebenkosten';
    }
    static get properties() {
        return {
            // m_ => miete fuer
            // gesamtX => inklusive miete fuer die zaehler
            // Heizeinheit => summe der heizkostenverteilerwerte (uebersetzung von kWh)

            // constants
            warmwasserTemperatur: { type: Number, value: 60 },
            quadratmeterHeizflaeche: {
                type: Number, value: 606.06, statePath: 'quadratmeterHeizflaeche', dispatch: true,
            },

            // summe der zaehler
            brennstoffVerbrauch: {
                type: Number, value: 74327, statePath: 'brennstoffVerbrauch', dispatch: true,
            },
            wasserVerbrauch: { // fuer kalt, warm und allgemein
                type: Number, value: 595, statePath: 'wasserVerbrauch', dispatch: true,
            },
            heizeinheiten: {
                type: Number, value: 97419, statePath: 'heizeinheiten', dispatch: true,
            },
            wasserKosten: { type: Number, value: 2627.82 },

            // heizungsanlage sind alle kosten, die zum heizen beitragen
            heizBetriebsKosten: { type: Number, value: 4912.77 },
            heizBetriebsKostenProKwh: { type: Number, computed: '_div(heizBetriebsKosten, brennstoffVerbrauch)' },
            heizKosten: { type: Number, computed: '_sub(heizBetriebsKosten, warmwasserBereitungskosten)' },
            m_heizkostenZaehler: { type: Number, value: 334.56 },
            gesamtHeizKosten: {
                type: Number, computed: '_sum(heizKosten, m_heizkostenZaehler)', statePath: 'gesamtHeizKosten', dispatch: true,
            },

            // warmwasser
            warmwasserVerbrauch: {
                type: Number, value: 191.35, title: 'Warmwasser Verbrauch', statePath: 'warmwasserVerbrauch', dispatch: true,
            },
            warmwasserAnteilVonbrennstoffVerbrauch: { type: Number, computed: '_warmwasserAnteilVonbrennstoffVerbrauch(warmwasserVerbrauch)' },
            warmwasserBereitungskosten: { type: Number, computed: '_mul(warmwasserAnteilVonbrennstoffVerbrauch, heizBetriebsKostenProKwh)' },
            kostenKaltwasserFuerWarmwasser: { type: Number, computed: '_mul(warmwasserVerbrauch, wasserkostenProM3)' },
            m_warmwasserZaehler: { type: Number, value: 334.56 },
            gesamtWarmwasserkosten: {
                type: Number, computed: '_sum(kostenKaltwasserFuerWarmwasser, warmwasserBereitungskosten, m_warmwasserZaehler)', statePath: 'gesamtWarmwasserKosten', dispatch: true,
            },

            // kaltwasser
            kaltwasserVerbrauch: { type: Number, value: 420.39 },
            allgemeinWasserVerbrauch: { // der rest, der in den allgemeinzaehlern bleibt. Wird mit dem Kaltwasser mitberechnet
                type: Number, computed: '_sub(wasserVerbrauch, warmwasserVerbrauch, kaltwasserVerbrauch)',
            },
            kaltwasserVerbrauchInklAllgemein: {
                type: Number, computed: '_sum(kaltwasserVerbrauch, allgemeinWasserVerbrauch)', statePath: 'kaltwasserVerbrauchInklAllgemein', dispatch: true,
            },
            kaltwasserAnteil: { type: Number, computed: '_div(kaltwasserVerbrauchInklAllgemein, wasserVerbrauch)' },
            kaltwasserKosten: { type: Number, computed: '_mul(wasserKosten, kaltwasserAnteil)' },
            m_kaltwasserZaehler: { type: Number, value: 334.56 },
            gesamtKaltwasserKosten: {
                type: Number, computed: '_sum(kaltwasserKosten, m_kaltwasserZaehler)', statePath: 'gesamtKaltwasserKosten', dispatch: true,
            },
            wasserkostenProM3: { type: Number, computed: '_div(wasserKosten, wasserVerbrauch)' },
        };
    }

    _warmwasserAnteilVonbrennstoffVerbrauch(warmwasserVerbrauch) {
        return 2.5 * warmwasserVerbrauch * (this.warmwasserTemperatur - 10); // temperatur multipliziert
    }
}

window.customElements.define(AdornisNebenkosten.is, AdornisNebenkosten);
</script>
