<dom-module id="mongo-data">
  <template>
      <template is="dom-repeat" items="{{todos}}" index-as="index">
        <paper-input value={{item.name}}></paper-input>
        <button on-click="_deleteItem">Delete Button</button>
      </template>
      {{testdata}}
  </template>
</dom-module>

<script>

class MongoData extends AdornisPolymerRedux(Polymer.Element) {
    static get is() {
        return 'mongo-data';
    }
    static get properties() {
        return {
            todos: {
                type: Array,
                collection: 'mongo-data',
                statePath: 'mongodata_unfiltered',
                paramProperty: 'filter',
            },
            filter: {
                type: Array,
                value: [],
            },

            // accessing polymer example variable from test-layout
            testdata: {
                type: String,
                statePath: 'testdata',
            },
        };
    }

    _deleteItem(e) {
        this.splice('todos', e.model.index, 1);
    }
}

window.customElements.define(MongoData.is, MongoData);

</script>
