<link rel="import" href="mongo-data.html">
<link rel="import" href="adornis-finance.html">
<link rel="import" href="adornis-nebenkosten.html">
<link rel="import" href="adornis-nebenkosten-aufstellung.html">
<link rel="import" href="adornis-nebenkosten-zaehlerdetails.html">
<link rel="import" href="adornis-styles.html">

<dom-module id="test-layout">
  <template>
    <style is="custom-style" include="iron-flex iron-flex-alignment adornis"></style>
    <style>

        :root {font-family: sans-serif}
        .main{
          @apply(--layout-horizontal);
          @apply(--layout-center-center);
        }
        app-header {
          background-color: var(--primary-color);
          color: #fff;
        }
        app-header paper-icon-button {
          --paper-icon-button-ink-color: white;
        }
        .print-break {
            page-break-after: always;
            page-break-inside: avoid;
        }
        paper-input-container input {
            @apply(--paper-input-container-shared-input-style);
        }
    </style>

    <!--================== <Router> ================-->

    <app-location route="{{route}}"></app-location>

    <app-route route="{{route}}" pattern="/:page" data="{{routeData}}"></app-route>

    <!--================= </Router> ================-->

    <app-header- class="fit layout vertical">
        <!-- <app-header fixed condenses>
            <app-toolbar>
                fancy redux log
            </app-toolbar>
        </app-header>

        <table style="display: block; max-height: 120px; overflow-y: scroll; font-family: monospace">
            <template is="dom-repeat" items="[[messages]]" index-as="index">
                <tr><td>[[index]]</td><td>[[item]]</td></tr>
            </template>
        </table>

        <paper-input value="{{testdata}}"></paper-input>

        <paper-toggle-button on-checked-changed="_toggleFilter"></paper-toggle-button>
        <button on-click="handleUpdateMessage">Insert Hallo Welt</button>
        <mongo-data id="mongoData" filter="{{filter}}"></mongo-data> -->

        <!-- <adornis-finance></adornis-finance> -->
        <div>
            <div id="inputs">
                <io-value type="number" value="{{wasserKosten}}"></io-value>
            </div>
            <div class="page-break"></div>
            <template is="dom-repeat" items="[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]" index-as="index">
                <div class="layout vertical end" style="height: 60px">
                    <!-- TODO use svg logo -->
                    <img src="/logo_neu.png" width="120" height="120" />
                </div>
                <adornis-nebenkosten-aufstellung mieter-id=""></adornis-nebenkosten-aufstellung>
                <adornis-nebenkosten></adornis-nebenkosten>
                <!-- <adornis-nebenkosten-zaehlerdetails mieter-id="0" style="page-break-after: always"></adornis-nebenkosten-zaehlerdetails> -->
                <adornis-nebenkosten-aufstellung mieter-id="{{item}}"></adornis-nebenkosten-aufstellung>
                <div class="print-break"></div>
            </template>
        </div>

    </app-header-layout>

  </template>
</dom-module>

<script>
import { MwcMixin } from 'meteor/mwc:mixin';

class TestLayout extends AdornisPolymerRedux(MwcMixin(Polymer.Element)) {
    static get is() {
        return 'test-layout';
    }

    static get properties() {
        return {
            route: Object,
            routeData: Object,
            messages: {
                type: Array,
                statePath: 'debugMessage',
            },

            // generic polymer property which is synched globally via redux
            testdata: {
                type: String,
                statePath: 'testdata',
                dispatch: true,
            },

            wasserKosten: {
                type: Number, value: 2627.82, statePath: 'wasserKosten', dispatch: true,
            },
        };
    }

    _toggleFilter(e) {
        if (e.currentTarget.checked) {
            this.filter = { name: 'hallo welt 1' };
        } else {
            this.filter = { };
        }
    }

    handleUpdateMessage() {
        this.$.mongoData.dispatch('insert', { name: 'new dispatch cool shit stuff ' });
    }
}

window.customElements.define(TestLayout.is, TestLayout);

</script>
