<link rel="import" href="../components/test-element.html">
<dom-module id="test-layout">
  <template>
    <style is="custom-style" include="iron-flex iron-flex-alignment"></style>
    <style>
.main{
  @apply(--layout-horizontal);
  @apply(--layout-center-center);
}
    app-header {
      background-color: var(--primary-color);
      color: #fff;
    }
    app-header paper-icon-button {
      --paper-icon-button-ink-color: white;
    }
    </style>

    <!--================== <Router> ================-->

    <app-location route="{{route}}"></app-location>

    <app-route route="{{route}}" pattern="/:page" data="{{routeData}}"></app-route>

    <!--================= </Router> ================-->

    <app-header-layout class="fit layout vertical">
        <app-header fixed condenses>
            <app-toolbar>

            </app-toolbar>
        </app-header>


    </app-header-layout>

  </template>
</dom-module>

<script>
    import { MwcMixin } from 'meteor/mwc:mixin';

    class TestLayout extends MwcMixin(Polymer.Element) {
        static get is() {
            return 'test-layout';
        }
        static get properties() {
            return {
                route: Object,
                routeData: {
                    type: Object,
                    value: function() {
                        return {
                            page: '',
                        };
                    },
                },
                appState: {
                    type: String,
                },
                notCordova: Boolean,
            };
        }

//        get trackers() {
//            return [];
//        }
    }

    window.customElements.define(TestLayout.is, TestLayout);

</script>
